@import 'config';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Space Mono', monospace;
}

body {
	background-color: $light-grayish-cyan;
}

.header {
	margin-top: 5rem;
	text-align: center;
}

.main-container {
	display: flex;
	flex-direction: row;
	width: 50rem;
	background-color: white;
	margin: 5rem auto;
	border-radius: 15px;
	padding: 1.6rem;
}

@media all and (max-width: 800px) {
	.main-container {
		display: flex;
		flex-direction: column;
		width: 25rem;
	}

	.tip-amount-display-container {
		margin-top: 25px;
	}
}

@media all and (max-width: 420px) {
	.main-container {
		width: 20rem;
		margin-left: 5px;
		margin-right: 5px;
	}

	#fifteen {
		margin-right: 10px;
	}

	#custom {
		margin-right: 10px;
	}
}
.tip-info-container {
	background-color: white;
	// display: inline-block;
	font-size: 15px;
	color: $darker-grayish-cyan;
	font-weight: 500;
	width: 100%;
	margin-right: 30px;
}

::placeholder {
	color: $dark-grayish-cyan;
}

:focus::placeholder {
	color: transparent;
}

// This is the actual form for calculating the tip
.tip-info-form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.input-label {
	font-weight: 600;
}

#bill-amount {
	margin-bottom: 20px; // Controls the space below the bill amount input field
	position: relative;
}

:focus {
	outline: none;
}

#bill-amount:focus,
#people:focus,
#custom:focus {
	border: solid $strong-cyan;
	border-width: 2px;
}

#bill-amount,
#people,
#custom {
	border: none;
	background-color: $input-background;
	color: $very-dark-cyan;
	font-size: 20px;
	border-radius: 5px;
	text-align: end;
	padding: 8px 20px 8px 0;
	font-weight: 700;
}

.tip-amount-display-container {
	background-color: $very-dark-cyan;
	color: white;
	border-radius: 15px;
	padding: 1.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.tip-percent-container {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 20px; // controls the space below Tip Percent Buttonss
	// margin-top: -10px;
	justify-content: center;
}

.tip-percent-item {
	border: none;
	background-color: $very-dark-cyan;
	color: white;
	border-radius: 5px;
	padding: 8px 25px 8px 25px;
	font-size: 20px;
	width: 108px;
	margin-top: 10px;
	font-weight: 600;
}
.tip-percent-item:hover {
	background-color: #a6e3dc;
	color: $very-dark-cyan;
}

#five,
#ten,
#twenty,
#fifty {
	margin-right: 10px;
}

#reset-button {
	border: none;
	background-color: $strong-cyan;
	color: $very-dark-cyan;
	border-radius: 5px;
	padding: 8px 25px 8px 25px;
	font-size: 18px;
	font-weight: 600;

	@media all and (min-width: 800px) {
		position: absolute;
		bottom: 1.5rem;

		left: 2.9rem;
		width: 75%;
	}
}

#reset-button:hover {
	background-color: #a6e3dc;
}

#reset-button:disabled {
	background-color: $reset-inactive;
}

.tip-amount,
.total-person {
	font-weight: 600;
	font-size: 18px;
}

.tip-amount {
	margin-bottom: 25px;
}

@media all and (max-width: 800px) {
	.total-person {
		margin-bottom: 25px;
	}
}

.per-person {
	font-weight: normal;
	color: $dark-grayish-cyan;
	font-size: 15px;
}

.amount-display {
	color: $strong-cyan;
	font-size: 30px;
	float: right;
}
